/*
colors: 60=#FFFF00  30=#00F6FF  10=#FF95B0//
colors: 60=#FFFF00  30=#00E7FF  10=#FF88FF
colors: 60=#FFFF00  30=#ABEA0D  10=#4DD12D optional #00B444, #009655, #007861
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
}
/* SCROLL BAR */
::-webkit-scrollbar {
  background-color: #00f6ff;
  width: 15px;
}
::-webkit-scrollbar-thumb {
  width: 30px;
  background-color: white;
  border-radius: 10px;
}

#header-section {
  background-image: linear-gradient(to top, #26b9bed2, #26b9bed2),
    url(./image/working-housing-project.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
#header-section > nav {
  background-color: #00f6ff;
  box-shadow: 0px 0px 10px black;
}
#header-section > nav > div > a {
  color: #f6f62c;
}
#header-section > nav > div > .navbar-toggler:active,
#header-section > nav > div > .navbar-toggler:focus {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
}
#header-section > nav > div > div > ul > li > a {
  position: relative;
}
#header-section > nav > div > div > ul > li > a::after {
  content: "";
  background-color: white;
  display: none;
  position: absolute;
  width: 40%;
  height: 5px;
  bottom: 0px;
  left: 30%;
  transition: display ease 0.5ms;
}
#header-section > nav > div > div > ul > li > a:hover::after {
  display: initial;
}
#header-section > div {
  padding: 50px 0px 0px 0px;
}
#header-section > div > h2 {
  margin: 0px;
}
#header-section > div > h1 {
  margin-top: 0;
  font-size: 60px;
}
#header-section > div #we-are {
  color: #ffd12cee;
}

/* ABOUT SECTION */
#about-us > .container > div > a {
  background-color: #00f6ff;
  color: black;
  transition: all ease-in-out 0.5s;
}
#about-us > .container > div > a:hover {
  background-color: #009655;
  color: white;
}

#about-us:hover .container > div > img {
  opacity: 0.5;
  transform: scale(1.3);
}
#about-us:hover .container > #about-us-col1 {
  background-color: rgb(79, 74, 74);
  overflow: hidden;
}
/* END OF ABOUT SECTION */

/* SERVICES SECTION */
#services {
  margin: 100px 0px 0px 0px;
  /* background-color: rgba(20, 15, 15, 0.904); */
  background-color: black;
  color: white;
}
#services > .container > #services-f-row > div > a {
  background-color: #00f6ff;
}
#services .card {
  /* background-color: #00ff89; */
}
#services .card > .card-body > div:first-child {
  background-color: #00ff89;
  width: fit-content;
  border-radius: 50%;
  padding: 20px;
  margin: 0 auto;
}
#services .card > .card-body > div:first-child > i {
  color: white;
}
#services .card > .card-body > div:last-child > h5 {
  text-align: center;
  margin: 10px;
}
#services > .container > p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
  margin-top: 10px;
}
#services > .container > p > a {
  color: #00f6ff;
  text-decoration: none;
  font-weight: bold;
}
#services > .container > p > a:hover {
  text-decoration: underline;
}

/* END OF SERVICES SECTION */

/* PROJECTS SECTION */
#projects > .container > h4 {
  color: #009655;
}
#projects > .container > .d-flex > small {
  cursor: pointer;
  transition: color ease 0.3s;
}
#projects > .container > .d-flex > small:hover {
  color: #009655;
}
.clicked-work {
  color: #009655;
  border-bottom: 3px solid #00f6ff;
}
#projects > .container > .row > .col-md-4 > p {
  top: 50%;
  left: 35%;
  display: none;
}
#projects > .container > .row > .col-md-4:hover img {
  opacity: 0.3;
}
#projects > .container > .row > .col-md-4:hover p {
  display: block;
}
#projects > .container > .row > .col-md-4:hover p > a {
  text-decoration: none;
  color: #009655;
}
/* END OF PROJECTS SECTION */

/* SKILLS SECTION */

/* END OF SKILLS SECTION */

/* CONTACT SECTION */
#contact-us > .container > .row > .col-md-4 > a {
  color: #00f6ff;
}
#contact-us > .container > .row > .col-md-4 > .d-flex > a {
  background-color: #00f6ff;
}
#contact-us > .container > .row > div > form > .row > .col-12 > button {
  background-color: #00f6ff;
}

/* END OF CONTACT SECTION */

#to-top {
  position: fixed;
  bottom: 15px;
  right: 10px;
  background-color: #ffd12cee;
}
@media all and (width <= 600px) {
  #header-section > div > h1 {
    font-size: 40px;
  }
}
@media all and (width <= 302px) {
  #header-section > div > h1 {
    font-size: 35px;
  }
}
