:root {
  --main-color: #00f6ff;
  --secondary-color: #00c49a;
  --third-color: #009655;
  --fourth-color: #2364aa;
  --fifth-color: #fec601;
  --sixth-color: #74c449;
  --seventh-color: #9cd640;
  --eight-color: #c8e735;
  --section-padding: 100px 0px 0px 0px;
}
@font-face {
  font-family: "Delius";
  src: url("./Delius-Google-Font/Delius-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; /* Fallback Font */
  font-family: "Delius", cursive; /* Google Font */
  text-align: justify;
}
/* SCROLL BAR */
::-webkit-scrollbar {
  background-color: #00f6ff;
  width: 15px;
}
::-webkit-scrollbar-thumb {
  width: 30px;
  background-color: white;
  border-radius: 10px;
}

body {
  background-image: linear-gradient(to top, #26b9bed2, #26b9bed2),
    url(./images/hero-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header-section {
  height: 70vh;
}
#header-section nav {
  background-color: #00f6ff;
  box-shadow: 0px 0px 10px black;
}
#header-section nav > div > a {
  color: #f6f62c;
}
#header-section nav > div > .navbar-toggler:active,
#header-section nav > div > .navbar-toggler:focus {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
}
#header-section nav > div > div > ul > li > a {
  position: relative;
}
#header-section nav > div > div > ul > li > a::after {
  content: "";
  background-color: white;
  display: none;
  position: absolute;
  width: 40%;
  height: 5px;
  bottom: 0px;
  left: 30%;
  transition: display ease 0.5ms;
}
#header-section > nav > div > div > ul > li > a:hover::after {
  display: initial;
}
#hero-section > div {
  padding: 50px 0px 0px 0px;
}
#hero-section > div > h1 {
  margin: 0px;
}
#hero-section > div > h2 {
  margin-top: 0;
  font-size: 60px;
}
#hero-section #we-are {
  color: #ffd12cee;
}

/* ABOUT SECTION */
.about-us {
  background-color: white;
  color: black;
}
.about-us .grab-cv-btn {
  background-image: linear-gradient(
    to right top,
    #00f6ff,
    #00e4df,
    #00d2bf,
    #00c09f,
    #00ae7f,
    #22af71,
    #38b161,
    #4cb150,
    #74c449,
    #9cd640,
    #c8e735,
    #f6f62c
  );
  transform: skew(20deg, 0deg);
  color: white;
  transition: all ease-in-out 0.5s;
}
.about-us .grab-cv-btn:hover {
  transform: skew(0deg, 0deg);
}

.about-us:hover .owner-img {
  opacity: 0.8;
  transform: scale(1.05);
}
/* END OF ABOUT SECTION */

/* SERVICES SECTION */
.services {
  padding: var(--section-padding);
  background-color: var(--secondary-color);
  color: white;
}
.services .hire-me-btn {
  background-color: #00f6ff;
}
.services .services-body .card {
  background-color: whitesmoke;
}
.services .services-body .card:hover {
  box-shadow: 0px 0px 10px #00f6ff;
  transition: all ease-in-out 0.5s;
}
.services .services-body .services-icons-wrapper {
  background-color: var(--secondary-color);
  width: fit-content;
  border-radius: 50%;
  padding: 20px;
  margin: 0 auto;
}
.services .services-body .services-icons-wrapper > i {
  color: white;
}
.services .card > .card-body > div:last-child > h5 {
  text-align: center;
  margin: 10px;
}
.services > .container > p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
  margin-top: 10px;
}
.services > .container > p > a {
  color: #00f6ff;
  text-decoration: none;
  font-weight: bold;
}
.services > .container > p > a:hover {
  text-decoration: underline;
}

/* END OF SERVICES SECTION */

/* PROJECTS SECTION */
.projects {
  padding: var(--section-padding);
  background-color: var(--third-color);
  color: white;
}
.projects .projects-heading {
  color: var(--eight-color);
}
.projects-filter-wrapper small {
  cursor: pointer;
  transition: color ease 0.3s;
}
.projects-filter-wrapper small:hover {
  color: var(--eight-color);
}
.active {
  color: var(--eight-color);
  border-bottom: 3px solid var(--seventh-color);
}
.project-gallery .preview-link {
  top: 50%;
  left: 35%;
  display: none;
}
.project-gallery .project-card:hover img {
  opacity: 0.3;
}
.project-gallery .project-card:hover .preview-link {
  display: block;
}
.project-gallery .preview-link a {
  text-decoration: underline;
  color: var(--fifth-color);
}
/* END OF PROJECTS SECTION */

/* SKILLS SECTION */
.skills-section {
  padding: var(--section-padding);
}
/* END OF SKILLS SECTION */

/* CONTACT SECTION */
.contact-us-section {
  padding: var(--section-padding);
}
.contact-us-section > .container > .row > .col-md-4 > a {
  color: #00f6ff;
}
.contact-us-section > .container > .row > .col-md-4 > .d-flex > a {
  background-color: #00f6ff;
}
.contact-us-section > .container > .row > div > form > .row > .col-12 > button {
  background-color: #00f6ff;
}

/* END OF CONTACT SECTION */

.to-top-btn {
  position: fixed;
  bottom: 15px;
  right: 10px;
  background-color: var(--fifth-color);
  transform: skew(20deg, 0deg);
  transition: all ease-in-out 0.5s;
}
.to-top-btn:hover {
  transform: skew(-10deg, 0deg);
  background-color: var(--fifth-color);
  box-shadow: 0px 0px 10px #00f6ff;
}
.to-top-btn:active {
  transform: scale(0.9);
}
.to-top-btn:focus {
  outline: none;
  box-shadow: none;
}

@media all and (width <= 600px) {
  #header-section > div > h1 {
    font-size: 40px;
  }
}
@media all and (width <= 302px) {
  #header-section > div > h1 {
    font-size: 35px;
  }
}
